@media (min-width:0px) and (max-width:666px) {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    vertical-align: bottom;
    box-sizing: border-box;
  }

  /* header==================================== */



  h1 {
    font-weight: normal;
    margin: 20px 0 20px 5%;
  }

  header {
    background: black;
    width:100%;
    height: 50px;
  }

  ul {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  li {
    height: 50px;
    line-height: 50px;
  }

  a {
    color: #ffff;
    display: inline-block;
    height: 50px;
    width: 100px;
    text-align: center;
  }

  a:hover {
    background: red;
  }

  /* main============================================== */

  .top {
    position: relative;
  }

  .bgimg {
    position: absolute;
    top: -32px;
    width: 100%;
    height: 85vh;
    z-index: -100;
  }

  .my-pout {
    width: 60%;
    margin: 0 auto;
    background-color: #ffff;
    border-radius: 10%;
    animation: mpo 10s infinite;
  }

  .my-pin {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 32px;
    text-align: center;
  }

  .my-pin h2 {
    animation: mpo 10s infinite;
  }

  .my-pin img {
    width: 100%;
    margin: 0 auto;
    border-radius: 10%;
  }

  .my-img {
    background-image: url(../img/bill.jpg);
    background-size: cover;
    padding : 20px 0;
  }

  /* 自己紹介======================================== */

    main {
      width: 100%;
      
      position: relative;
    }

    .mn-img {
      padding: 40px 0;
      background-image: url(../img/stars.jpg);
      background-size: cover;
      border-bottom-left-radius:24px;
      border-bottom-right-radius:24px;
    }

    .bgi {
      width: 100%;
      position: absolute;
      top:0;
      background: cover center;
      z-index: -1;
    }

    .my-if {
      width:80%;
      margin: 0 auto;
      border-radius: 5%;
      border: 2px solid #e6f51b;
      
    }

    .my-ifin {
      border-radius: 5%;
      line-height: 30px;
      padding: 20px;
      background: #fff;
    }

    .my-ifin h2 {
      font-weight: normal;
      text-align: center;
      padding: 0 0 20px 0;
    }

    /* skill======================================== */

    .skills {
      width:100%;
      padding:20px;
    }

    .skill-items {
      width:100%;
      border-radius: 24px;
      border: 1px solid #000;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .bar {
      width:40%;
      height: 100px;
      background: #627fff;
      border-radius: 8px;
      margin-left: 3%;
      text-align: center;
    }
    .bar p {
      height:10px;
      padding-top:15px;
      
    }

    .bars {
      width:80%;
      height:10px;
      margin: 0 auto;
      margin-top: 2.8rem;
      border-radius: 5px;
      background: #fff;
    }

    .bares {
      width:80%;
      height:10px;
      margin-top: 2.8rem;
      border-radius: 5px;
      background: #21a00e;
    }


    .skill-icon {
      width:40%;
      margin-right: 3%;
    }

    .skill-icon img {
      width:100%;
    }

    .js-bar {
      width:70%;
    }


  @keyframes mpo {
    10% {
      transform: scale(1, 1);
    }

    50% {
      transform: scale(-1, 1);
    }

    75% {
      transform: scale(-1, 1);
    }

  }






}